.sliderComp {
  display: flex;
  align-items: center;
  height: 60vh;
  width: 100%;
  position: relative;
}

.sliderComp::after {
  content: "";
  position: absolute;
  top: -5%;
  left: -5%;
  width: 400px;
  height: 30px;
  background: #e0280f;
  transform: rotate(-45deg);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.slider img {
  width: 40%;
  height: 50vh;
  object-fit: cover;
}

.discount {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.discount h1 {
  font-size: 4rem;
}
.discount h1 span {
  font-size: 4rem;
  font-weight: 400;
  color: #2a9b13;
}

.discount p span {
  font-size: 2rem;
  color: #e0280f;
  font-weight: 600;
}

.swiper-pagination {
  width: 10% !important;
  margin-left: 15%;
}
.swiper-pagination span {
  background: #2a9b13;
}
